{
    "commands": {
        "[<n>] up": "up [<n>]",
        "[<n>] down": "down [<n>]",
        "[<n>] left": "left [<n>]",
        "[<n>] right": "right [<n>]",
        "screen up [<n>]": "gope [<n>]",
        "screen down [<n>]": "drop [<n>]",
        "lope [<n>]": "lope [<n>]",
        "yope [<n>]": "yope [<n>]",
        "care": "care",
        "doll": "doll",
        "file top": "file top",
        "file toe": "file toe",
        "spa [<n>]": "ace [<n>]",
        "act": "act",
        "chuck [<n>]": "chuck [<n>]",
        "scratch [<n>]": "scratch [<n>]",
        "go [<n>]": "slap [<n>]",
        "tab [<n>]": "tab [<n>]",
        "line down [<n>]": "line down [<n>]",
        "lineup [<n>]": "lineup [<n>]",
        "nab [<n>]": "nab [<n>]",
        "plop [<n>]": "plop [<n>]",
        "squishy [<n>]": "squishy [<n>]",
        "truncate": "strip",
        "truncate back": "striss",
        "trance [<n>]": "trance [<n>]",
        "wipe [<n>]": "wipe [<n>]",
        "bump [<n>]": "bump [<n>]",
        "dump [<n>]": "whack [<n>]"
    },
    "local_disable_context": "VIM",
    "proxy_disable_context": {"match": "regex", "title": "(?i).*(VIM|FG).*"}
}
